$primary-color: #009975;
$secondary-color: #81df46;
$text-color: #2b303a;
$secondary-text-color: #9a9a9c;
$progress-color: #d9b600;
$danger-color: #c22f01;

body {
	overflow-x: hidden;
	color: $text-color;
	font-weight: 300;
	font-size: 1rem;
}

.nav-pills {
    a {
        color: $primary-color;
    }

    .nav-link.active,
    .show > .nav-link {
        background-color: #81daa6;
    }
}

.nav-link {
    &.active {
        background-color: #81daa6;
    }
}

.content {
	background-color: #f9f9f9;
	min-height: 90vh;
	.container-fluid {
		padding-right: 16px;
		padding-left: 16px;
		@media screen and (min-width: 48rem) {
			padding-right: 48px;
			padding-left: 48px;
		}
	}
}
.btn-primary {
	background-color: $primary-color !important;
	border-color: $primary-color !important;
	padding: 10px 30.4px;
	border-radius: 3px;
	&#menu-toggle {
		background-color: $primary-color;
		border-color: $primary-color;
		@media screen and (min-width: 62.4375rem) {
			display: none;
		}
	}
}
#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -240px;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
	background-color: $primary-color;

	.sidebar-logo {
		padding: 24px 48px;
		font-size: 19.2px;
	}

	.list-group {
		width: 240px;
		padding-top: 48px;

		& > .nav-link {
			background-color: transparent;
			color: #fff;
			padding: 24px 48px;
			border: none;
			display: flex;
			align-items: center;

			> .nav__icon {
				display: flex;
				padding-right: 16px;
			}

			&:hover,
			&.active {
				background: rgba(255, 255, 255, 0.1);
				color: $secondary-color;
				svg > path {
					fill: $secondary-color;
				}
				&::after {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					background-color: $secondary-color;
					width: 8px;
				}
			}
		}
	}
}
ul.navbar-nav {
	flex-direction: row;
	.nav-item:first-child {
		padding-right: 16px;
	}
	& .dropdown-menu {
		position: absolute;
	}
}
#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}
#page-content-wrapper {
	min-width: 100vw;
}

@media (min-width: 48rem) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -240px;
	}
}
.page__heading {
	h1 {
		font-size: 1.5rem;
		font-weight: 700;
	}
}
.order__header__item {
	.card {
		border: 0.0625rem solid #e5e5e5;
	}
	.card-body {
		padding: 24px;
		@media screen and (min-width: 48rem) {
			padding: 32px;
		}
	}
	h5 {
		font-style: normal;
		font-weight: normal;
		font-size: 0.875rem;
		line-height: 1.0625rem;
		text-align: right;
		color: $secondary-text-color;
	}
	h3 {
		font-weight: 500;
		font-size: 2.25rem;
		line-height: 2.625rem;
	}
}
.table {
	background-color: #fff;
	border: 0.0625rem solid #e5e5e5;
	th,
	td {
		padding: 16px 32px !important;
	}
	& > thead th {
		font-size: 0.875rem;
		line-height: 0.875rem;
		font-weight: 300;
		color: #a8a8a8;
		border-bottom: 0.0625rem solid #e5e5e5 !important;
	}
	td {
		font-style: normal;
		font-weight: normal;
		font-size: 0.875rem;

		color: #696969;
	}
}

.order-completed {
	padding: 0.625rem;
	background-color: rgba($primary-color, 0.1);
	color: $primary-color;
	border-radius: 0.1875rem;
	text-align: center;
}
.order-pending {
	padding: 0.625rem;
	background-color: rgba($progress-color, 0.1);
	color: $progress-color;
	border-radius: 0.1875rem;
	text-align: center;
}
.order-cancelled {
	padding: 0.625rem;
	background-color: rgba($danger-color, 0.1);
	color: $danger-color;
	border-radius: 0.1875rem;
	text-align: center;
}
.messaging {
	background: #ffffff none repeat scroll 0 0;
	.col-sm-3 {
		padding-right: 0px;
	}
	.col-sm-9 {
		padding-left: 0px;
	}
	& .inbox {
		border-right: 0.0625rem solid #e5e5e5;
	}
}

.search-heading {
	padding: 0.625rem 1.8125rem 0.625rem 1.25rem;
	overflow: hidden;
	border-bottom: 0.0625rem solid #c4c4c4;
	.search_bar {
		width: 100%;
		input {
			border: 0.0625rem solid #cdcdcd;
			width: 80%;
			padding: 0.125rem 0 0.25rem 0.375rem;
			background: none;
		}
		.input-group-addon button {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			border: medium none;
			padding: 0;
			color: #707070;
			font-size: 1.125rem;
		}
		.input-group-addon {
			margin: 0 0 0 -1.6875rem;
		}
		
	}
}
.inbox-list {
	height: 85vh;
	overflow-y: scroll;
	> .chat {
		border-bottom: 0.0625rem solid #e5e5e5;
		margin: 0;
		padding: 1.125rem 1rem 0.625rem;
        cursor: pointer;

		&.active-chat {
			background: rgba($secondary-color, 0.08);
		}
		
		> .chat_info {
			padding: 10px;
			h5 {
				font-size: 0.9375rem;
				color: $text-color;
				margin: 0 0 0.5rem 0;
				span {
					font-size: 0.8125rem;
					float: right;
				}
			}
			p {
				font-size: 0.875rem;
				color: #989898;
				margin: auto;
			}
		}
	}
	
}

.chat-messages {
	background-color: #fff;
	padding: 1.875rem 0.9375rem 0 1.5625rem;
	.received_msg {
		display: inline-block;
		padding: 0 0 0 0.625rem;
		vertical-align: top;
		width: 92%;
		
		p {
			background: #f7f7f7;
			border-radius: 3.125rem 0rem 3.125rem 0rem;
			padding: 1.875rem 1.875rem;
			color: #646464;
			font-size: 0.875rem;
			margin: 0;
			width: 100%;
		}
		.received_withd_msg {
			width: 57%;
			.time_date {
				color: #747474;
				display: block;
				font-size: 0.75rem;
				margin: 0.5rem 0 0;
			}
		}
	}
	.outgoing_msg {
		overflow: hidden;
		margin: 1.625rem 0 1.625rem;
		.sent_msg {
			float: right;
			width: 46%;
			p {
				background: $primary-color;
				border-radius: 0rem 3.125rem 0rem 3.125rem;
				font-size: 0.875rem;
				margin: 0;
				color: #fff;
				padding: 1.875rem 1.875rem;
				width: 100%;
			}
			.time_date {
				color: #747474;
				display: block;
				font-size: 0.75rem;
				margin: 0.5rem 0 0;
			}
		}
	}
}

.type_msg {
	position: relative;
	.input_msg_write input {
		border: 1px solid #e5e5e5;
		padding: 30px;
		color: $text-color;
		font-size: 0.9375rem;
		border-radius: 3px;
		width: 100%;
	}
	.msg_send_btn {
		position: absolute;
		right: 30px;
		top: 20px;
	
	
		background: $primary-color;
		border-radius: 50%;
		color: #fff;
	
		cursor: pointer;
	
		font-size: 1.0625rem;
	
		height: 48px;
		width: 48px;
	}
}

.msg_history {
	height:70vh;
	margin-bottom: 70px;
	overflow-y: auto;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}