/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

$site-green: #009975;
$grey: #F7F7F7;

@font-face {
    font-family: 'Orkney';
    src: url("../fonts/orkney/Orkney-Light.otf");
}

html {
    position: relative;
    height: 100%;
    font-size: 14px;

    @media (min-width: 768px) {
        font-size: 16px;
    }

    .popover {
        max-width: 100%;
        border-radius: 6px;
        border: none;
        box-shadow: 0 0 6px 1px #eee;
    }

    .popover-body {
        border: none;
        padding: 20px 49.4px 24px 24px;
        color: #5f6976;
        font-size: 15px;
        font-style: italic;
        z-index: 2;
        line-height: 1.53;
        letter-spacing: 0.1px;
        width: 100%;
    }

    body {
        height: 100%;
        font-family: 'Orkney';

        .height-100 {
            height: 100%;
        }

        .add-container {
            margin-top: 3em;
            margin-bottom: 3em;
        }

        #app-modal-dialog {
            .modal-header {
                .modal-title {
                    font-weight: bold;
                }

                border-bottom-style: none;
            }

            .modal-footer {
                border-top-style: none;
            }
        }

        button.popover-button {
            border-radius: 50%;
            background-color: white;
        }

        .padding-0 {
            padding: 0;
        }

        div#loading-spinner {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            display: none;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1051;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
            background-color: black;
            background: rgba(255, 255, 255, .6);
        }

        div#spinner-container {
            position: fixed;
            top: 45%;
            right: 45%;
            text-align: center;
        }

        .sidebar {
            height: 100%;
            background: $site-green;

            nav {
                align-items: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            a {
                line-height: 17px;
                color: #FFFFFF;

                &.navbar-brand {
                    display: block;
                    margin-top: 2em;
                    margin-bottom: 5em;
                }
            }

            .nav-item {
                padding: 4px;

                &.active {
                    background: rgba(255, 255, 255, 0.1);
                    color: #81DF46;

                    &::after {
                        background: #81DF46;
                        width: 50%;
                    }
                }
            }
        }

        main {
            padding-left: 15px;
            padding-right: 15px;
        }

        div#cookieConsent {
            button.accept-policy {
                font-size: 1rem;
                line-height: inherit;
            }
        }

        .border-top {
            border-top: 1px solid #e5e5e5;
        }

        .box-shadow {
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
        }
    }
}

/*Patch for Bootstrap*/
@media (min-width: 768px) {
    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

/*
 * Beginning of styling For messages/chats
 */
#messaging {
    img {
        max-width: 100%;
    }

    .inbox-container {
        border: 1px solid #c4c4c4;
        clear: both;
        overflow: hidden;

        .inbox-orders-section {
            float: left;
            overflow: hidden;
            width: 40%;
            border-right: 1px solid #c4c4c4;

            .heading-search {
                padding: 10px 29px 10px 20px;
                overflow: hidden;
                border-bottom: 1px solid #c4c4c4;

                .recent-heading {
                    float: left;
                    width: 40%;

                    h4 {
                        color: #05728f;
                        font-size: 21px;
                        margin: auto;
                    }
                }

                .order-search-bar {
                    display: inline-block;
                    text-align: right;
                    width: 60%;

                    input {
                        border: 1px solid #cdcdcd;
                        border-width: 0 0 1px 0;
                        width: 80%;
                        padding: 2px 0 4px 6px;
                        background: none;
                    }

                    .input-group-addon {
                        button {
                            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                            border: medium none;
                            padding: 0;
                            color: #707070;
                            font-size: 18px;
                        }

                        margin: 0 0 0 -27px;
                    }
                }
            }

            .order-chat-list {
                height: 75vh;
                overflow-y: scroll;

                .order-chat-item {
                    border-bottom: 1px solid #c4c4c4;
                    margin: 0;
                    padding: 18px 16px 10px;
                    overflow: hidden;
                    clear: both;
                    cursor: pointer;
                    display: block;

                    &.active-chat {
                        background: rgba(129, 223, 70, 0.08);
                    }

                    .order-chat-img {
                        float: left;
                        width: 11%;
                    }

                    .order-chat-text {
                        float: left;
                        padding: 0 0 0 15px;
                        width: 88%;

                        h5 {
                            font-size: 15px;
                            color: #2B303A;
                            font-weight: bold;
                            margin: 0 0 8px 0;

                            span {
                                font-size: 10px;
                                float: right;
                                font-weight: 100;
                            }
                        }

                        p {
                            font-size: 14px;
                            color: #989898;
                            margin: auto;
                        }
                    }
                }
            }
        }

        .messages-pane {
            float: left;
            padding: 30px 15px 0 25px;
            width: 60%;

            .messages-history {
                height: 516px;
                overflow-y: auto;

                .time-date {
                    color: #747474;
                    display: block;
                    font-size: 12px;
                    margin: 8px 0 0;
                }

                .incoming-msg {
                    .incoming-msg-img {
                        display: inline-block;
                        width: 6%;
                    }

                    .received-msg {
                        display: inline-block;
                        padding: 0 0 0 10px;
                        vertical-align: top;
                        width: 57%;

                        p {
                            background: $grey none repeat scroll 0 0;
                            border-radius: 3px;
                            color: #646464;
                            font-size: 14px;
                            margin: 0;
                            padding: 5px 10px 5px 12px;
                            width: 100%;
                        }
                    }
                }

                .outgoing-msg {
                    overflow: hidden;
                    margin: 26px 0 26px;

                    .sent-msg {
                        float: right;
                        width: 46%;

                        p {
                            background: $site-green none repeat scroll 0 0;
                            border-radius: 3px;
                            font-size: 14px;
                            margin: 0;
                            color: #fff;
                            padding: 5px 10px 5px 12px;
                            width: 100%;
                        }
                    }
                }
            }

            .type-msg {
                border: 1px solid #c4c4c4;
                position: relative;

                textarea {
                    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                    border: medium none;
                    color: #4c4c4c;
                    font-size: 15px;
                    min-height: 48px;
                    width: 85%;
                    resize: none;

                    &:focus {
                        box-shadow: none;
                    }
                }

                .send-msg-btn {
                    background: #28a745 none repeat scroll 0 0;
                    border: medium none;
                    border-radius: 50%;
                    color: #fff;
                    cursor: pointer;
                    font-size: 17px;
                    height: 64px;
                    position: absolute;
                    right: 1em;
                    top: 2.5em;
                    width: 64px;
                }
            }
        }
    }
}
/*
 * End of styling For messages/chats
 */
