﻿@model List<Conversation>

@foreach (var conversation in Model)
{
    if (!conversation.IsOutgoing)
    {
        <div class="incoming_msg">
            <div class="received_msg">
                <div class="received_withd_msg">
                    <p>
                        @conversation.Message
                    </p>
                    <span class="time_date"> @conversation.CreatedDate</span>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="outgoing_msg">
            <div class="sent_msg">
                <p>
                    @conversation.Message
                </p>
                <span class="time_date"> @conversation.CreatedDate</span>
            </div>
        </div>
    }
}
