﻿@model List<OrderMessage>

@{
    ViewData["Title"] = "Messaging";
}

<section class="container-fluid" id="messaging">
    <div class="row">
        <div class="col-sm-3">
            <div class="inbox">
                <div class="search-heading">
                    <div class="search_bar">
                        <input type="text" class="search-bar" placeholder="Search">
                        <span class="input-group-addon">
                            <button type="button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="inbox-list">
                    @foreach (var item in Model)
                    {
                        <div class="chat" data-orderid="@item.OrderId">
                            <div class="chat_info">
                                <h5>Order Id: @($"#{item.OrderNumber}")  <span class="chat_time">@item.Date?.ToShortTimeString()</span></h5>
                                <p>
                                    @item.Message
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="chat-messages">
                <div class="msg_history">
                    
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" />
                        <button class="msg_send_btn" type="button">
                            <i class="fa fa-paper-plane-o"
                               aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/App/Message/message.js"></script>
    <script>
        app.message.init();
    </script>
}