﻿@model SaveOrderModel

@{
    ViewData["Title"] = "Create Order";

    @inject IProductRepository productRepository

    var products = await productRepository.GetAllAsync().ContinueWith(x => x.Result.Select(product => new SelectListItem
    {
        Text = product.Name,
        Value = product.Id.ToString()
    }));
}

<section class="container body-content">
    <div class="row">
        <form id="createOrderForm" asp-action="Create" class="container-fluid">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="ProductId" class="control-label"></label>
                        <select asp-for="ProductId" asp-items="products" class="form-control"></select>
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="NumberOfTonnes" class="control-label"></label>
                        <input asp-for="NumberOfTonnes" class="form-control" />
                        <span asp-validation-for="NumberOfTonnes" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="ProductRequirement" class="control-label"></label>
                    <textarea asp-for="ProductRequirement" class="form-control" rows="8" cols="300"></textarea>
                    <span asp-validation-for="ProductRequirement" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</section>

<partial name="_ValidationScriptsPartial" />