﻿@model Order

@{
    ViewData["Title"] = "Details";
}

<section class="container body-content">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayNameFor(model => model.Product)</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(model => model.Product.Name)</h6>
            <br />

            <h5 class="card-title">@Html.DisplayNameFor(model => model.NumberOfTonnes)</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(model => model.NumberOfTonnes)</h6>
            <br />

            <h5 class="card-title">@Html.DisplayNameFor(model => model.ProductRequirement)</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(model => model.ProductRequirement)</h6>
            <br />

            <h5 class="card-title">@Html.DisplayNameFor(model => model.OrderStatus)</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.OrderStatus.GetDescription()</h6>
        </div>
    </div>
</section>