﻿@model List<Order>

@{
    ViewData["Title"] = "Orders";

    var pendingOrdersCount = Model.Count(x => x.OrderStatus == OrderStatusEnum.Pending);
    var completedOrdersCount = Model.Count(x => x.OrderStatus == OrderStatusEnum.Completed);
    var cancelledOrdersCount = Model.Count(x => x.OrderStatus == OrderStatusEnum.Cancelled);
}

<section class="container-fluid" id="order">
    <div class="d-sm-flex align-items-center justify-content-between pt-5 mb-4 page__heading">
        <h1 class="page__heading__text">Orders</h1>
        <button type="button" class="btn-primary" id="create-order">Create Order</button>
    </div>

    <div class="row order__header">
        <div class="col-lg-4 mb-4 order__header__item">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mr-2">
                            <img src="~/images/pending.svg" alt="Pending Orders" />
                        </div>
                        <div class="col-auto d-flex flex-column align-items-end">
                            <h3 class="order__text">@pendingOrdersCount</h3>
                            <h5>Pending Orders</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4 order__header__item">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mr-2">
                            <img src="~/images/completed.svg" alt="Pending Orders" />
                        </div>
                        <div class="col-auto d-flex flex-column align-items-end">
                            <h3 class="order__text">@completedOrdersCount</h3>
                            <h5>Completed Orders</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4 order__header__item">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mr-2">
                            <img src="~/images/cancelled_icon.svg" alt="Pending Orders" />
                        </div>
                        <div class="col-auto d-flex flex-column align-items-end">
                            <h3 class="order__text">@cancelledOrdersCount</h3>
                            <h5>Cancelled Orders</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="order-table">
        <div class="table-responsive">
            <table class="table table-hover" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Created</th>
                        <th>Product</th>
                        <th>Quantity (Metric Tonnes)</th>
                        <th>Price ($)</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr data-orderid="@order.Id">
                            <td>@order.OrderNumber</td>
                            <td>@order.Created.ToLongDateString()</td>
                            <td>@order.Product?.Name</td>
                            <td>@order.NumberOfTonnes</td>
                            <td>@order.Price</td>
                            <td><span class="order-@order.OrderStatus.ToString().ToLower()">@order.OrderStatus.GetDescription()</span></td>
                            <td>
                                <a href="javascript:void(0)" class="view-order" title="View Order"><img src="~/images/view.svg" alt="View Order"></a>
                                @if (order.OrderStatus != OrderStatusEnum.Cancelled)
                                {
                                    <a href="javascript:void(0)" class="edit-order" title="Edit Order"><img src="~/images/edit.svg" alt="Edit Order"></a>
                                    <a href="javascript:void(0)" class="delete-order" title="Delete Order"><img src="~/images/delete.svg" alt="Delete Order"></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/App/Order/order.js"></script>
    <script>
        app.order.init(@Html.JsonSerialize(Model));
    </script>
}