﻿body {
  overflow-x: hidden;
  color: #2b303a;
  font-weight: 300;
  font-size: 1rem; }

.nav-pills a {
  color: #009975; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #81daa6; }

.nav-link.active {
  background-color: #81daa6; }

.content {
  background-color: #f9f9f9;
  min-height: 90vh; }
  .content .container-fluid {
    padding-right: 16px;
    padding-left: 16px; }
    @media screen and (min-width: 48rem) {
      .content .container-fluid {
        padding-right: 48px;
        padding-left: 48px; } }

.btn-primary {
  background-color: #009975 !important;
  border-color: #009975 !important;
  padding: 10px 30.4px;
  border-radius: 3px; }
  .btn-primary#menu-toggle {
    background-color: #009975;
    border-color: #009975; }
    @media screen and (min-width: 62.4375rem) {
      .btn-primary#menu-toggle {
        display: none; } }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -240px;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #009975; }
  #sidebar-wrapper .sidebar-logo {
    padding: 24px 48px;
    font-size: 19.2px; }
  #sidebar-wrapper .list-group {
    width: 240px;
    padding-top: 48px; }
    #sidebar-wrapper .list-group > .nav-link {
      background-color: transparent;
      color: #fff;
      padding: 24px 48px;
      border: none;
      display: flex;
      align-items: center; }
      #sidebar-wrapper .list-group > .nav-link > .nav__icon {
        display: flex;
        padding-right: 16px; }
      #sidebar-wrapper .list-group > .nav-link:hover, #sidebar-wrapper .list-group > .nav-link.active {
        background: rgba(255, 255, 255, 0.1);
        color: #81df46; }
        #sidebar-wrapper .list-group > .nav-link:hover svg > path, #sidebar-wrapper .list-group > .nav-link.active svg > path {
          fill: #81df46; }
        #sidebar-wrapper .list-group > .nav-link:hover::after, #sidebar-wrapper .list-group > .nav-link.active::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          background-color: #81df46;
          width: 8px; }

ul.navbar-nav {
  flex-direction: row; }
  ul.navbar-nav .nav-item:first-child {
    padding-right: 16px; }
  ul.navbar-nav .dropdown-menu {
    position: absolute; }

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0; }

#page-content-wrapper {
  min-width: 100vw; }

@media (min-width: 48rem) {
  #sidebar-wrapper {
    margin-left: 0; }
  #page-content-wrapper {
    min-width: 0;
    width: 100%; }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -240px; } }

.page__heading h1 {
  font-size: 1.5rem;
  font-weight: 700; }

.order__header__item .card {
  border: 0.0625rem solid #e5e5e5; }

.order__header__item .card-body {
  padding: 24px; }
  @media screen and (min-width: 48rem) {
    .order__header__item .card-body {
      padding: 32px; } }

.order__header__item h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-align: right;
  color: #9a9a9c; }

.order__header__item h3 {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.625rem; }

.table {
  background-color: #fff;
  border: 0.0625rem solid #e5e5e5; }
  .table th,
  .table td {
    padding: 16px 32px !important; }
  .table > thead th {
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 300;
    color: #a8a8a8;
    border-bottom: 0.0625rem solid #e5e5e5 !important; }
  .table td {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    color: #696969; }

.order-completed {
  padding: 0.625rem;
  background-color: rgba(0, 153, 117, 0.1);
  color: #009975;
  border-radius: 0.1875rem;
  text-align: center; }

.order-pending {
  padding: 0.625rem;
  background-color: rgba(217, 182, 0, 0.1);
  color: #d9b600;
  border-radius: 0.1875rem;
  text-align: center; }

.order-cancelled {
  padding: 0.625rem;
  background-color: rgba(194, 47, 1, 0.1);
  color: #c22f01;
  border-radius: 0.1875rem;
  text-align: center; }

.messaging {
  background: #ffffff none repeat scroll 0 0; }
  .messaging .col-sm-3 {
    padding-right: 0px; }
  .messaging .col-sm-9 {
    padding-left: 0px; }
  .messaging .inbox {
    border-right: 0.0625rem solid #e5e5e5; }

.search-heading {
  padding: 0.625rem 1.8125rem 0.625rem 1.25rem;
  overflow: hidden;
  border-bottom: 0.0625rem solid #c4c4c4; }
  .search-heading .search_bar {
    width: 100%; }
    .search-heading .search_bar input {
      border: 0.0625rem solid #cdcdcd;
      width: 80%;
      padding: 0.125rem 0 0.25rem 0.375rem;
      background: none; }
    .search-heading .search_bar .input-group-addon button {
      background: transparent none repeat scroll 0 0;
      border: medium none;
      padding: 0;
      color: #707070;
      font-size: 1.125rem; }
    .search-heading .search_bar .input-group-addon {
      margin: 0 0 0 -1.6875rem; }

.inbox-list {
  height: 85vh;
  overflow-y: scroll; }
  .inbox-list > .chat {
    border-bottom: 0.0625rem solid #e5e5e5;
    margin: 0;
    padding: 1.125rem 1rem 0.625rem;
    cursor: pointer; }
    .inbox-list > .chat.active-chat {
      background: rgba(129, 223, 70, 0.08); }
    .inbox-list > .chat > .chat_info {
      padding: 10px; }
      .inbox-list > .chat > .chat_info h5 {
        font-size: 0.9375rem;
        color: #2b303a;
        margin: 0 0 0.5rem 0; }
        .inbox-list > .chat > .chat_info h5 span {
          font-size: 0.8125rem;
          float: right; }
      .inbox-list > .chat > .chat_info p {
        font-size: 0.875rem;
        color: #989898;
        margin: auto; }

.chat-messages {
  background-color: #fff;
  padding: 1.875rem 0.9375rem 0 1.5625rem; }
  .chat-messages .received_msg {
    display: inline-block;
    padding: 0 0 0 0.625rem;
    vertical-align: top;
    width: 92%; }
    .chat-messages .received_msg p {
      background: #f7f7f7;
      border-radius: 3.125rem 0rem 3.125rem 0rem;
      padding: 1.875rem 1.875rem;
      color: #646464;
      font-size: 0.875rem;
      margin: 0;
      width: 100%; }
    .chat-messages .received_msg .received_withd_msg {
      width: 57%; }
      .chat-messages .received_msg .received_withd_msg .time_date {
        color: #747474;
        display: block;
        font-size: 0.75rem;
        margin: 0.5rem 0 0; }
  .chat-messages .outgoing_msg {
    overflow: hidden;
    margin: 1.625rem 0 1.625rem; }
    .chat-messages .outgoing_msg .sent_msg {
      float: right;
      width: 46%; }
      .chat-messages .outgoing_msg .sent_msg p {
        background: #009975;
        border-radius: 0rem 3.125rem 0rem 3.125rem;
        font-size: 0.875rem;
        margin: 0;
        color: #fff;
        padding: 1.875rem 1.875rem;
        width: 100%; }
      .chat-messages .outgoing_msg .sent_msg .time_date {
        color: #747474;
        display: block;
        font-size: 0.75rem;
        margin: 0.5rem 0 0; }

.type_msg {
  position: relative; }
  .type_msg .input_msg_write input {
    border: 1px solid #e5e5e5;
    padding: 30px;
    color: #2b303a;
    font-size: 0.9375rem;
    border-radius: 3px;
    width: 100%; }
  .type_msg .msg_send_btn {
    position: absolute;
    right: 30px;
    top: 20px;
    background: #009975;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 1.0625rem;
    height: 48px;
    width: 48px; }

.msg_history {
  height: 70vh;
  margin-bottom: 70px;
  overflow-y: auto; }

#footer {
  position: fixed;
  bottom: 0;
  width: 100vw; }
