﻿<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <button class="btn btn-outline-light" id="menu-toggle">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0" id="navbarSupportedContent">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg width="17" height="19" viewBox="0 0 17 19" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.02 14.3C14.68 14.3 14.16 13.52 14.16 8.62002C14.16 4.78002 12.42 2.38002 9.42 2.02002V0.8C9.42 0.36 9.06 0 8.62 0C8.18 0 7.82 0.36 7.82 0.8V2C4.62 2.26 2.76 4.70002 2.76 8.62002C2.76 13.52 2.18 14.3 0.82 14.3C0.38 14.3 4.88281e-06 14.6 4.88281e-06 15.06C4.88281e-06 15.5 0.339997 15.82 0.779997 15.82H5.98C6.04 16.42 6.22 17.16 6.7 17.68C7.12 18.14 7.67999 18.4 8.33999 18.4C8.99999 18.4 9.56 18.12 9.98 17.68C10.48 17.14 10.68 16.42 10.76 15.82H16.02C16.46 15.82 16.82 15.52 16.82 15.06C16.82 14.6 16.46 14.3 16.02 14.3ZM8.86 16.58C8.78 16.66 8.66 16.78 8.38 16.78C8.12 16.78 8 16.66 7.92 16.58C7.76 16.4 7.68 16.2 7.62 15.8H8.3C8.34 15.8 8.38 15.8 8.42 15.8C8.46 15.8 8.49999 15.8 8.53999 15.8H9.2C9.14 16.2 9.04 16.4 8.86 16.58ZM8.53999 14.2C8.49999 14.2 8.46 14.2 8.42 14.2C8.38 14.2 8.34 14.2 8.3 14.2H3.58C4.32 12.8 4.32 10.62 4.32 8.57998C4.32 5.31998 5.74 3.6 8.3 3.6H8.52C11.08 3.6 12.5 5.31998 12.5 8.57998C12.5 10.62 12.5 12.8 13.24 14.2H8.53999ZM11.38 7.1C11.4 7.48 11.1 7.81999 10.72 7.83999C10.7 7.83999 10.7 7.83999 10.68 7.83999C10.32 7.83999 10 7.55998 9.98 7.17998C9.92 6.27998 9.21999 5.96002 9.13999 5.92002C8.77999 5.76002 8.62 5.36 8.76 5C8.9 4.64 9.3 4.48002 9.66 4.62002C9.74 4.66002 11.28 5.3 11.38 7.1Z"
                          fill="#A8A8A8" />
                </svg>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="~/images/profile.png" alt="profile" />
                <span>Nikan Johnson </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Profile</a>
                <div class="dropdown-divider"></div>
                
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </div>
        </li>
    </ul>
</nav>