﻿<nav class="nav">
    <a class="navbar-brand" href="#">Navbar</a>
    <div>
        <ul class="nav flex-column">
            <li class="nav-item active">
                <a class="nav-link" asp-area="Dashboard" asp-controller="Order" asp-action="Index">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Dashboard" asp-controller="Order" asp-action="Index">
                    Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Dashboard" asp-controller="Product" asp-action="Index">
                    Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Dashboard" asp-controller="Message" asp-action="Index">
                    Messages
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Dashboard" asp-controller="Order" asp-action="Index">
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>
