﻿<div class="sidebar-wrapper" id="sidebar-wrapper">
    <div class="sidebar-logo"><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/Groporte-white.svg" alt="Logo" /></a></div>
    <div class="list-group list-group-flush nav">

        <a class="nav-link list-group-item list-group-item-action active" asp-area="Dashboard" asp-controller="Order" asp-action="Index">
            <div class="nav__icon">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.48421 6.05549H0.571269C0.261149 6.05549 -3.98489e-06 5.79433 -3.98489e-06 5.48421C-3.98489e-06 2.44831 2.46463 -3.98489e-06 5.48421 -3.98489e-06C5.79433 -3.98489e-06 6.05549 0.261149 6.05549 0.571269V5.48421C6.05549 5.79433 5.79433 6.05549 5.48421 6.05549ZM1.1752 4.89662H4.91294V1.15886C2.97061 1.42001 1.42003 2.97062 1.1752 4.89662ZM7.99782 15C4.12948 15 0.995639 11.9967 0.995639 8.29163C0.995639 7.93254 1.28944 7.63874 1.64852 7.63874H7.63874V1.64852C7.63874 1.28944 7.93254 0.995639 8.29163 0.995639C11.9315 0.995639 15 4.21109 15 7.99782C15 11.8498 11.8498 15 7.99782 15ZM2.35038 8.94451C2.69314 11.605 5.09249 13.6942 7.99782 13.6942C11.1317 13.6942 13.6942 11.148 13.6942 7.99782C13.6942 5.14145 11.5887 2.70947 8.94451 2.35038V8.29163C8.94451 8.65071 8.65071 8.94451 8.29163 8.94451H2.35038Z"
                          fill="white" />
                </svg>
            </div>
            Dashboard
        </a>

        <a class="nav-link list-group-item list-group-item-action" asp-area="Dashboard" asp-controller="Order" asp-action="Index">
            <div class="nav__icon">
                <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.9361 5.35709C13.863 4.64518 13.2413 4.09344 12.4917 4.09344H11.1569V3.77308C11.1569 1.69076 9.58441 0 7.53656 0H7.46344C5.43387 0 3.84312 1.69076 3.84312 3.77308V4.09344H2.50835C1.75869 4.09344 1.15532 4.64518 1.0639 5.35709L0.00339343 15.2169C-0.014891 15.4127 0.0399622 15.6263 0.186237 15.7687C0.332513 15.911 0.515357 16 0.73477 16H14.2652C14.4664 16 14.6675 15.911 14.8138 15.7687C14.96 15.6263 15.0149 15.4127 14.9966 15.2169L13.9361 5.35709ZM5.30587 3.77308C5.30587 2.47385 6.23838 1.42381 7.46344 1.42381H7.53656C8.76161 1.42381 9.69413 2.47385 9.69413 3.77308V4.09344H5.30587V3.77308ZM1.53929 14.594L2.50835 5.51725H12.4551L13.4242 14.594H1.53929Z"
                          fill="white" />
                </svg>
            </div>
            Orders
        </a>

        <a class="nav-link list-group-item list-group-item-action" asp-area="Dashboard" asp-controller="Message" asp-action="Index">
            <div class="nav__icon">
                <svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.32 0.760005C18.32 0.740005 18.32 0.7 18.32 0.68C18.32 0.66 18.32 0.63999 18.32 0.61999C18.32 0.59999 18.3 0.58001 18.3 0.54001C18.3 0.52001 18.28 0.480005 18.28 0.460005C18.28 0.440005 18.26 0.419995 18.24 0.399995C18.22 0.379995 18.22 0.33999 18.2 0.31999V0.299995C18.18 0.279995 18.18 0.280005 18.16 0.260005C18.14 0.240005 18.12 0.219995 18.1 0.199995C18.08 0.179995 18.06 0.160005 18.04 0.160005C18.02 0.140005 18 0.11999 17.98 0.11999C17.96 0.0999902 17.94 0.1 17.92 0.08C17.9 0.06 17.88 0.0600098 17.86 0.0400098C17.84 0.0400098 17.8 0.0199902 17.78 0.0199902C17.76 0.0199902 17.74 -4.88281e-06 17.7 -4.88281e-06C17.68 -4.88281e-06 17.64 -4.88281e-06 17.62 -4.88281e-06C17.6 -4.88281e-06 17.58 -4.88281e-06 17.56 -4.88281e-06H0.75999C0.73999 -4.88281e-06 0.720005 -4.88281e-06 0.700005 -4.88281e-06C0.680005 -4.88281e-06 0.64 -4.88281e-06 0.62 -4.88281e-06C0.6 -4.88281e-06 0.579995 0.0199902 0.539995 0.0199902C0.519995 0.0199902 0.47999 0.0400098 0.45999 0.0400098C0.43999 0.0400098 0.420005 0.06 0.400005 0.08C0.380005 0.1 0.359995 0.0999902 0.339995 0.11999C0.319995 0.13999 0.30001 0.140005 0.28001 0.160005C0.26001 0.180005 0.24 0.199995 0.22 0.199995C0.2 0.219995 0.17999 0.240005 0.15999 0.260005C0.13999 0.280005 0.14 0.279995 0.12 0.299995V0.31999C0.1 0.33999 0.0800098 0.379995 0.0800098 0.399995C0.0600098 0.419995 0.0599951 0.440005 0.0399951 0.460005C0.0199951 0.480005 0.02 0.50001 0.02 0.54001C0.02 0.56001 4.88281e-06 0.57999 4.88281e-06 0.61999C4.88281e-06 0.63999 4.88281e-06 0.66 4.88281e-06 0.68C4.88281e-06 0.7 4.88281e-06 0.740005 4.88281e-06 0.760005V0.78V9.98C4.88281e-06 10.42 0.360005 10.78 0.800005 10.78H17.6C18.04 10.78 18.4 10.42 18.4 9.98L18.32 0.760005C18.32 0.780005 18.32 0.760005 18.32 0.760005ZM15.1 1.58L9.12 6.01999L3.14 1.58H15.1ZM1.52 9.18V2.38L8.64 7.66001C8.78 7.76001 8.94 7.81999 9.12 7.81999C9.3 7.81999 9.46001 7.76001 9.60001 7.66001L16.72 2.38V9.18H1.52Z"
                          fill="white" />
                </svg>
            </div>

            Messages
        </a>

        <a class="nav-link list-group-item list-group-item-action" asp-area="Dashboard" asp-controller="Product" asp-action="Index">
            <div class="nav__icon">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                    <path d="M2.978 8.358l-2.978-2.618 8.707-4.74 3.341 2.345 3.21-2.345 8.742 4.639-3.014 2.68.014.008 3 4.115-3 1.634v4.122l-9 4.802-9-4.802v-4.115l1 .544v2.971l7.501 4.002v-7.889l-2.501 3.634-9-4.893 2.978-4.094zm9.523 5.366v7.875l7.499-4.001v-2.977l-5 2.724-2.499-3.621zm-11.022-1.606l7.208 3.918 1.847-2.684-7.231-3.742-1.824 2.508zm11.989 1.247l1.844 2.671 7.208-3.927-1.822-2.498-7.23 3.754zm-9.477-4.525l8.01-4.43 7.999 4.437-7.971 4.153-8.038-4.16zm-2.256-2.906l2.106 1.851 7.16-3.953-2.361-1.657-6.905 3.759zm11.273-2.052l7.076 3.901 2.176-1.935-6.918-3.671-2.334 1.705z" 
                          fill="white"
                          />
                </svg>
            </div>

            Products
        </a>

        <a class="nav-link list-group-item list-group-item-action" asp-area="Dashboard" asp-controller="Payment" asp-action="Index">
            <div class="nav__icon">
                <svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.42 1.47998C18.42 0.659981 17.76 0 16.94 0H1.48C0.660001 0 -1.2207e-06 0.659981 -1.2207e-06 1.47998V10.54C-1.2207e-06 11.36 0.660001 12.02 1.48 12.02H16.94C17.76 12.02 18.42 11.36 18.42 10.54V1.47998ZM16.82 1.6V3H1.62V1.6H16.82ZM1.62 10.4V5.4H16.82V10.4H1.62ZM15.32 7.8C15.32 8.24 14.96 8.6 14.52 8.6H10.72C10.28 8.6 9.92 8.24 9.92 7.8C9.92 7.36 10.28 7 10.72 7H14.52C14.96 7 15.32 7.36 15.32 7.8Z"
                          fill="white" />
                </svg>

            </div>
            Payment
        </a>

        <a class="nav-link list-group-item list-group-item-action" asp-area="Dashboard" asp-controller="Order" asp-action="Index">
            <div class="nav__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.99131 11.3616C6.14984 11.3616 4.63843 9.86754 4.63843 8.00869C4.63843 6.16721 6.13246 4.6558 7.99131 4.6558C9.83279 4.6558 11.3442 6.14984 11.3442 8.00869C11.3442 9.85016 9.83279 11.3616 7.99131 11.3616ZM7.99131 5.88926C6.82736 5.88926 5.87189 6.84473 5.87189 8.00869C5.87189 9.17264 6.82736 10.1281 7.99131 10.1281C9.15527 10.1281 10.1107 9.17264 10.1107 8.00869C10.1107 6.84473 9.15527 5.88926 7.99131 5.88926ZM7.99131 16H7.90445C7.29642 16 6.77525 15.9305 6.74051 15.9305C6.46255 15.8958 6.25406 15.6873 6.20195 15.4094L6.02822 14.1585C5.64603 14.0369 5.28122 13.8806 4.93377 13.6895L3.94353 14.4365C3.71769 14.6102 3.42237 14.5928 3.19653 14.4365C3.17916 14.4191 2.76222 14.0891 2.32791 13.6721L2.25841 13.6026C1.8241 13.1683 1.5114 12.7513 1.49402 12.734C1.3203 12.5081 1.3203 12.2128 1.49402 11.987L2.25841 10.9794C2.06732 10.6319 1.92834 10.2497 1.80674 9.86753L0.590667 9.6938C0.312708 9.65906 0.104239 9.43324 0.0694939 9.15528C0.0694939 9.13791 0 8.59935 0 7.99132V7.90446C0 7.29642 0.0694939 6.77524 0.0694939 6.74049C0.104239 6.46253 0.312708 6.25407 0.590667 6.20195L1.84147 6.02823C1.96308 5.64603 2.11944 5.28122 2.31054 4.93378L1.56352 3.94354C1.38979 3.71769 1.40717 3.42238 1.56352 3.19653C1.58089 3.17916 1.91097 2.76222 2.32791 2.32791L2.3974 2.25842C2.83171 1.82411 3.24865 1.5114 3.26602 1.49403C3.49187 1.3203 3.78718 1.3203 4.01303 1.49403L5.02063 2.25842C5.36808 2.06732 5.75028 1.92835 6.13247 1.80674L6.3062 0.590671C6.34094 0.312712 6.56678 0.104243 6.84474 0.0694982C6.86211 0.0694982 7.40065 4.24131e-06 8.00868 4.24131e-06H8.09554C8.70358 4.24131e-06 9.22476 0.0694982 9.25951 0.0694982C9.53747 0.104243 9.74593 0.312712 9.79805 0.590671L9.97177 1.84148C10.354 1.96308 10.7188 2.11943 11.0662 2.31052L12.0565 1.56352C12.2823 1.3898 12.5776 1.40717 12.8035 1.56352C12.8208 1.58089 13.2378 1.91097 13.6721 2.32791L13.7416 2.39739C14.1759 2.8317 14.4886 3.24863 14.506 3.26601C14.6797 3.49185 14.6797 3.78719 14.506 4.01303L13.7416 5.02064C13.9327 5.36809 14.0717 5.75026 14.1933 6.13246L15.4093 6.30618C15.6873 6.34093 15.8958 6.56678 15.9305 6.84474C15.9305 6.86211 16 7.40065 16 8.00869V8.09555C16 8.70358 15.9305 9.22475 15.9305 9.25949C15.8958 9.53745 15.6873 9.74594 15.4093 9.79805L14.1585 9.97178C14.0369 10.354 13.8806 10.7188 13.6895 11.0662L14.4365 12.0565C14.6102 12.2823 14.5928 12.5777 14.4365 12.8035C14.4191 12.8209 14.089 13.2378 13.6721 13.6721L13.6026 13.7416C13.1683 14.1759 12.7514 14.4886 12.734 14.506C12.5082 14.6797 12.2128 14.6797 11.987 14.506L10.9794 13.7416C10.6319 13.9327 10.2497 14.0717 9.86754 14.1933L9.69382 15.4094C9.65907 15.6873 9.43322 15.8958 9.15526 15.9305C9.12051 15.9305 8.59935 16 7.99131 16ZM7.36591 14.7492C7.52226 14.7666 7.71336 14.7665 7.90445 14.7665H7.99131C8.18241 14.7665 8.3735 14.7666 8.52985 14.7492L8.68621 13.6026C8.72096 13.342 8.91204 13.1509 9.15526 13.0814C9.6938 12.9598 10.215 12.7514 10.684 12.456C10.823 12.3692 10.9967 12.3518 11.1531 12.3865C11.2399 12.4039 11.3268 12.456 11.3963 12.5081L12.3171 13.203C12.4387 13.0988 12.5776 12.9772 12.7166 12.8382L12.7861 12.7687C12.9251 12.6297 13.0467 12.4908 13.1509 12.3692L12.456 11.4484C12.2997 11.24 12.2997 10.962 12.4213 10.7535C12.7166 10.3019 12.9251 9.79805 13.0467 9.27688C13.0988 9.0163 13.3073 8.8078 13.5679 8.77306L14.7318 8.61672C14.7492 8.46037 14.7492 8.26928 14.7492 8.07818V7.99132C14.7492 7.80022 14.7492 7.60913 14.7318 7.45278L13.5852 7.29642C13.342 7.26168 13.1336 7.07057 13.0814 6.82735C12.9598 6.28881 12.7514 5.78502 12.4734 5.31596C12.4387 5.28122 12.4213 5.22909 12.4039 5.17697C12.3344 4.98588 12.3692 4.76005 12.4908 4.6037L13.203 3.66558C13.0988 3.54397 12.9772 3.40499 12.8382 3.26601L12.7687 3.19653C12.6298 3.05755 12.4908 2.93593 12.3692 2.8317L11.4484 3.52659C11.2226 3.68295 10.9272 3.68295 10.7188 3.52659C10.2671 3.24863 9.76329 3.04017 9.24212 2.90119C8.99891 2.84907 8.80782 2.6406 8.77307 2.38002L8.61672 1.21607C8.46037 1.1987 8.26927 1.19871 8.07818 1.19871H7.99131C7.80022 1.19871 7.60913 1.1987 7.45277 1.21607L7.29642 2.36265C7.26167 2.64061 7.0532 2.84908 6.77524 2.88382C6.25407 3.00543 5.75027 3.2139 5.29859 3.49186C5.15961 3.57872 4.98589 3.5961 4.82954 3.56135C4.74268 3.54398 4.65581 3.49185 4.58632 3.43973L3.68295 2.74483C3.56134 2.84907 3.42237 2.97069 3.28339 3.10967L3.2139 3.17914C3.07492 3.31812 2.95332 3.45711 2.84908 3.57872L3.54398 4.49947C3.70033 4.70793 3.70032 4.96852 3.57871 5.19436C3.56134 5.21174 3.56135 5.22909 3.54398 5.24647C3.26602 5.69815 3.05755 6.20195 2.93594 6.72312C2.88383 6.96634 2.67536 7.15745 2.41477 7.19219L1.25081 7.34853C1.23343 7.50488 1.23344 7.69599 1.23344 7.88709V7.97395C1.23344 8.16505 1.23343 8.35614 1.25081 8.51249L2.3974 8.66885C2.67536 8.70359 2.88383 8.91206 2.91858 9.19002V9.20737C3.04018 9.72854 3.24865 10.215 3.52661 10.6667C3.61347 10.823 3.6482 11.0141 3.57871 11.1878C3.56134 11.2573 3.50923 11.3268 3.45712 11.3963L2.77959 12.2997C2.88382 12.4213 3.00542 12.5603 3.1444 12.6992L3.2139 12.7687C3.35288 12.9077 3.49187 13.0293 3.61347 13.1336L4.5342 12.4387C4.76004 12.2649 5.09012 12.2823 5.29859 12.456C5.75027 12.734 6.23671 12.9251 6.74051 13.0467C6.98372 13.0988 7.17481 13.3073 7.20956 13.5679L7.36591 14.7492Z"
                          fill="white" />
                </svg>
            </div>
            Settings
        </a>
    </div>
</div>