﻿@model Product

@{
    ViewData["Title"] = "Create";
}

<section class="container body-content">
    <div class="row">
        <form id="createProductForm" asp-action="Create" class="container-fluid">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="8" cols="300"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </form>
    </div>
</section>

<partial name="_ValidationScriptsPartial" />