﻿@model List<Product>

@{
    ViewData["Title"] = "Products";
}

<section class="container-fluid" id="product">
    <div class="d-sm-flex align-items-center justify-content-between pt-5 mb-4 page__heading">
        <h1 class="page__heading__text">Products</h1>
        <button type="button" class="btn-primary" id="create-product">Create Product</button>
    </div>

    <div class="product-table">
        <div class="table-responsive">
            <table class="table table-hover" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr data-productid="@product.Id">
                            <td>@product.Name</td>
                            <td>@product.Description</td>
                            <td>
                                <a href="javascript:void(0)" class="view-product" title="View Product"><img src="~/images/view.svg" alt="View Product"></a>
                                <a href="javascript:void(0)" class="edit-product" title="Edit Product"><img src="~/images/edit.svg" alt="Edit Product"></a>
                                <a href="javascript:void(0)" class="delete-product" title="Delete Product"><img src="~/images/delete.svg" alt="Delete Product"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/App/Product/product.js"></script>
    <script>
        app.product.init();
    </script>
}